/*@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css); */
/* Reset any lingering styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family:'Droid Arabic Naskh';

    
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;

    background: url(../images/asfalt.png) top left repeat;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    min-height: 740px;
    
    /*background: rgb(215, 215, 125);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));*/
     background: url(../images/asfalt.png) top left repeat;
}

/*
    Now let's bring some text styles back ...
*/
b, strong { font-weight: bold }
i, em { font-style: italic }

/* Make links look pretty */
a {
    color: #ff;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;
    
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover,
a:focus {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}


.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;
    
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}


/* Global step styles */
.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'PT Serif', georgia, serif;
    font-size: 48px;
    line-height: 1.5;
}


.impress-enabled .step {
    margin: 0;
    opacity: 0.3;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active {opacity: 1}


/* Some useful styles to define */
.small {
    font-size: 50%;
}


/* Styles per step */


#title {
    width: 1000px;
    height: 500px;
    padding: 0;
}

#title .welcome {
    font-size: 64px;
    position: absolute;
    top: -0.5em;
    left: 4.75em;
}

#title .subtitle {
    font-size: 45px;
    position: relative;
    left: 6.75em;
}

#title span {
    display: inline-block;
}

#title #codepsu_text {
    margin-bottom: 100px;
}

#title.present .positioning {
    -webkit-transform: translateY(-110px);
    -moz-transform:    translateY(-110px);
    -ms-transform:     translateY(-110px);
    -o-transform:      translateY(-110px);
    transform:         translateY(-110px);

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

#title.present .rotating {
    -webkit-transform: rotate(360deg);
    -moz-transform:    rotate(360deg);
    -ms-transform:     rotate(360deg);
    -o-transform:      rotate(360deg);
    transform:         rotate(360deg);

    -webkit-transition: 6s;
    -moz-transition:    6s;
    -ms-transition:     6s;
    -o-transition:      6s;
    transition:         6s;
}



#acm {
    width: 700px;
    height: 700px;
    text-align: center;
    font-size: 60px;
    line-height: 1;
}

#acm img {
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

#acm.present .scaling {
    -webkit-transform: scale(1.15);
    -moz-transform:    scale(1.15);
    -ms-transform:     scale(1.15);
    -o-transform:      scale(1.15);
    transform:         scale(1.15);

    -webkit-transition-delay: 0.25s;
    -moz-transition-delay:    0.25s;
    -ms-transition-delay:     0.25s;
    -o-transition-delay:      0.25s;
    transition-delay:         0.25s;
}


#sponsors {
    width: 500px;
    text-align: center;
}

#sponsors table {
    position: relative;
    right: 190px;
}

#sponsors table td {
    padding: 20px;
	vertical-align: middle;
}


#sponsors img {
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

#sponsors .cisco {
    position: relative;
    right: 1000px;

    -webkit-transition-delay: 0.25s;
    -moz-transition-delay:    0.25s;
    -ms-transition-delay:     0.25s;
    -o-transition-delay:      0.25s;
    transition-delay:         0.25s;
}


#sponsors.present .cisco {
    -webkit-transform: translateX(1000px);
    -moz-transform:    translateX(1000px);
    -ms-transform:     translateX(1000px);
    -o-transform:      translateX(1000px);
    transform:         translateX(1000px);
}

#sponsors .cap_one {
    position: relative;
    bottom: 500px;

    -webkit-transition-delay: 0.5s;
    -moz-transition-delay:    0.5s;
    -ms-transition-delay:     0.5s;
    -o-transition-delay:      0.5s;
    transition-delay:         0.5s;
}


#sponsors.present .cap_one {
    -webkit-transform: translateY(500px);
    -moz-transform:    translateY(500px);
    -ms-transform:     translateY(500px);
    -o-transform:      translateY(500px);
    transform:         translateY(500px);
}

#sponsors .microsoft {
    position: relative;
    top: 500px;

    -webkit-transition-delay: 0.75s;
    -moz-transition-delay:    0.75s;
    -ms-transition-delay:     0.75s;
    -o-transition-delay:      0.75s;
    transition-delay:         0.75s;
}


#sponsors.present .microsoft {
    -webkit-transform: translateY(-500px);
    -moz-transform:    translateY(-500px);
    -ms-transform:     translateY(-500px);
    -o-transform:      translateY(-500px);
    transform:         translateY(-500px);
}

#sponsors .booz {
    position: relative;
    left: 1000px;

    -webkit-transition-delay: 1s;
    -moz-transition-delay:    1s;
    -ms-transition-delay:     1s;
    -o-transition-delay:      1s;
    transition-delay:         1s;
}


#sponsors.present .booz {
    -webkit-transform: translateX(-1000px);
    -moz-transform:    translateX(-1000px);
    -ms-transform:     translateX(-1000px);
    -o-transform:      translateX(-1000px);
    transform:         translateX(-1000px);
}


#source span {
    display: inline-block;
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

#source.present .scaling {
    margin-left: 70px;
    -webkit-transform: scale(1.5);
    -moz-transform:    scale(1.5);
    -ms-transform:     scale(1.5);
    -o-transform:      scale(1.5);
    transform:         scale(1.5);

    -webkit-transition-delay: 0.5s;
    -moz-transition-delay:    0.5s;
    -ms-transition-delay:     0.5s;
    -o-transition-delay:      0.5s;
    transition-delay:         0.5s;
}


.technical {
    width: 1200px;
    height: 500px;
}


#overview {
    display: none
}


.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}

.impress-enabled          {pointer-events: none}
.impress-enabled #impress {pointer-events: auto}
